/* ---- global styling ---- */

:root {
    background: #1e153c;
}

/* hide page scrollbar */
/*html { scrollbar-width: none; } /* Firefox and Safari */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */

section{
    height: 100vh;
}


/* ---- customs classes ----*/
.slide{
    height: 100vh;
}

.content{
    position: fixed;
    inset: 0;
    display: grid;
    place-content: center;
    pointer-events: none;
}

.visible{
    opacity: 1;
}

