/* ---- global styling ---- */

:root {
    background: #1e153c;
}

section{
    height: 100vh;
}


/* ---- customs classes ----*/
.content{
    position: sticky;
    top: 5px;
}

.invisible{
    opacity: 0;
}

.visible{
    opacity: 1;
}

