/* ---- global styling ---- */
@font-face {
    font-family: "Heming";
    src:
            local("Heming"),
            url("fonts/Heming_Variable.ttf") format("woff2"),
            url("fonts/Heming_Variable.ttf") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "OTFr";
    src:
            local("OTFr"),
            url("fonts/OTFr_Glusp.ttf") format("woff2"),
            url("fonts/OTFr_Glusp.ttf") format("woff2");
    font-weight: bold;
}



/* hide page scrollbar */
/*html { scrollbar-width: none; } /* Firefox and Safari */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */

:root {
    --background-color: #0e0f23;
    background: var(--background-color);
    color: aliceblue;
    --accent-color: #ea830e;
    --accent-color-blue:#2c38ff;
}

a{
    text-decoration: none;
    color: var(--accent-color-blue);

}
a:hover{
    color: var(--accent-color);
}

h1{
    font-family: "OTFr", sans-serif;
    padding: 15px;
}


section{
    height: 102vh;
}


/* ---- customs classes ----*/
.buffer{
    height: 60vh;
}

.bg {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
}

.bg.active {
    opacity: 1;
}

.bg.repeat {
    background-size: contain;
    background-repeat: repeat;
}

.color-accent{
    color: var(--accent-color)
}

.content{
    position: fixed;
    inset: 0;
    pointer-events: none;
}

.dark-font{
    color: var(--background-color);
}

.flex{
    display: flex;
}

.flex.column{
    flex-direction: column;
}

.flex.center{
    justify-content: center;
}

.flex.column.center{
    align-items: center;
}

.grid{
    display: grid;
}

.grid.center{
    place-content: center;
}

.img-container {
    position: relative;
    width: 30vw;
    margin: 10vh 0;
}

.img-replace {
    position: absolute;
    inset: 0;
    width: 100%;
}

.journal_column{
    flex-grow: 1;
    text-align: justify;
    padding: 20px;
}

.newspaper{
    align-items: center;
    display: grid;
    background-color: #d6ceb5;
    color: #28282e;
    font-family: Heming, sans-serif;
    width: 1000px;
    padding: 15px;
    margin: 30px;
}

.newspaper h1{
    margin-top: 15px;
    padding: 0;
}

.newspaper p{
    margin: 0;
    width: 50%;
    padding: 0 10px;
    text-align: justify;
}

.portraits img {
    height: 50vh;
    width: 25vw;
    object-fit: cover;
    flex-grow: 1;
    padding: 10px;
}

.poster{
    width: 20vw;
    padding: 20px;
}

.opaque-card h1{
    z-index: 900;
    background-image: url("../img/6-bg2.png");
    background-size: cover;
    width: 93vw;
    position: relative;
    text-align: center;
    margin:0;
    padding: 45px;
}

.opaque-card div{
    margin: 0;
    padding: 10px;
    z-index: 900;
    width: 97vw;
    background-image: url("../img/6-bg.png");
    background-size: cover;
    position: relative;
    text-align: center;
    display: flex;
   justify-content: center;
}

.opaque-card ul{
    width: fit-content;
}

.opaque-card li{
    text-align: left;
    font-size: 1.2em;
    padding-top: 10px;
}

.slide{
    height: 102vh;
}

.table img{
    padding: 10px;
    width: 17vw;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.title{
    margin-top: 10vh;
}

.visible{
    opacity: 1;
}