/* ---- global styling ---- */

:root {
    background: #0e0f23;
    color: aliceblue
}

/* hide page scrollbar */
/*html { scrollbar-width: none; } /* Firefox and Safari */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */

section{
    height: 102vh;
}


/* ---- customs classes ----*/
.buffer{
    height: 30vh;
}

.bg {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 2.5s ease;
}

.bg.active {
    opacity: 1;
}

.content{
    position: fixed;
    inset: 0;
    pointer-events: none;
}

.flex{
    display: flex;
}

.slide{
    height: 102vh;
}

.visible{
    opacity: 1;
}

